<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.css" />
    <title>{% block title %}Reddut{% endblock %}</title>
</head>

<!-- Navbar -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Reddut</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="/myreddit/">Home</a></li>
        </ul>
        <ul class="nav pull-right"> 
            <li>
                {% if username %}
                    <p /> <p /><b>Welcome {{ username }}! - <a href="./logout">Log Out</a></b>
                {% else %}
                    <form action="./login/" method="post" class="navbar-form pull-left">
                    {% csrf_token %}
                    <input type="text" name="username" class="input-small" placeholder="Username" /> &nbsp;
                    <input type="password" name="pass" class="input-small" placeholder="Password"/> &nbsp;
                    <input type="submit" value="Login!" class="btn-mini">
                    </form>
                {% endif %}
            </li>
        </ul>
        {% if not username %}
        <ul class="nav pull-right">
            <p /> <p /> <strong><a href="./register/">Sign up</a> or Login:</strong>
        </ul>
        {% endif %}
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
<!-- Navbar -->

<div class="container">
    <br /> <br /> <br />
{% block content %} {% endblock %}
</div>
</html>
