<h1>My Reddit</h1>

<h3>User:</h3>
{% if username %}
	<b>Welcome {{ username }}! - <a href="/myreddit/logout">Log Out</a></b>
{% else %}
	Log in:
	<form action="/myreddit/login/" method="post">
	{% csrf_token %}
	User: <input type="text" name="username" /><br />
	Password: <input type="password" name="pass" /> <br />
	<input type="submit" value="Login!">
	</form>
{% endif %}

<h2>Link List:</h2>
{% if link_list %}
	<ol>
		{% for link in link_list %}
			<li><a href="/myreddit/{{ link.id }}/vote/up/">^</a> {{ link.points }} <a href="/myreddit/{{ link.id }}/vote/down/">v</a>&nbsp;<a href="/myreddit/{{ link.id }}/">{{ link.description }}</a> (submitted {{ link.sub_date }})</li>
		{% endfor %}
	</ol>
{% else %}
	<p>No Links Available.</p>
{% endif %}

{% if username %}
<h3>Submit a Link:</h3>
<form action="/myreddit/submit/" method="post">
	{% csrf_token %}
	Link Name: <input type="text" name="name"/><br />
	URL: <input type="text" name="link"/><br />
	<input type="submit" value="Submit Link" />
</form>
{% endif %}
