{% extends "myreddit/base.html" %}

{% block content %}
<h1>My Reddit</h1>

<h2>Link List:</h2>
{% if link_list %}
	<ol>
		{% for link in link_list %}
			<li><a href="./{{ link.id }}/vote/up/i/">^</a> {{ link.points }} <a href="./{{ link.id }}/vote/down/i/">v</a>&nbsp;<a href="/myreddit/{{ link.id }}/">{{ link.description }}</a> (submitted {{ link.sub_date }} by {{ link.sub_by }})</li>
		{% endfor %}
	</ol>
{% else %}
	<p>No Links Available.</p>
{% endif %}

{% endblock %}

{% block rightbar %}
<div class="well">
<h2>Submit a Link:</h2>
{% if username %}
<form action="./submit/" method="post">
	{% csrf_token %}
	<label>Description:</label>
	{{ submitform.description }}
	<br />
	<label>URL:</label>
	{{ submitform.link }}
	<input type="submit" value="Submit Link" class="btn btn-primary" />
</form>
{% else %}
<h4><a href="#" rel="popover" data-content="Look above..." data-original-title="Login">Log In</a> or <a href="./register/">Register</a></h4>
{% endif %}
</div>
{% endblock %}
