{% extends "myreddit/base.html" %}

{% block content %}

<h1>{{ link.description }}</h1>

<h3>(Submitted: {{ link.sub_date }} by {{ link.sub_by }})</h3>

<h2><a href="{{ link.link }}"> {{ link.link }} </a></h2>
Points: <a href="./vote/up/l/">^</a> {{ link.points }} <a href="./vote/down/l/">v</a><br />

<h2>Comments:</h2>
{% if comments %}
     <ul>
     {% for comment in comments %}
        <li> <a href="./comment/vote/up/{{ comment.pk }}/">^</a> {{ comment.points }} <a href="./comment/vote/down/{{ comment.pk }}/">v</a> -> {{ comment.comment }} - {{ comment.author }} ({{ comment.date }})</li>
     {% endfor %}
    </ul>
{% endif %}

{% if username %}
{{ username }}:
<form action="./comment/", method="post">
    {% csrf_token %}
    {{ commentform.as_p }}
    <input type="submit" value="Comment" />
</form>
{% endif %}

<p><a href="../">H O M E</a></p>

{% endblock %}
